{% extends "base.html" %}

{% block content %}
<title>Галлерея</title>
<style>
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px; /* Увеличенный промежуток между изображениями */
}

.grid-item {
  overflow: hidden; /* Обрезаем изображения, чтобы они не выходили за рамки */
}

.grid-item img {
  width: 100%; /* Изображение занимает всю ширину контейнера */
  height: auto; /* Высота изменяется пропорционально */
}

</style>
<body>

<h2>Галлерея<h2>
<div class="grid-container">
  {% for photo in photos %}
  <div class="grid-container grid-item img">
      <img src="static/files/{{ photo.filename }}" alt="{{ photo.filename_show }}">
      <p> {{photo.filename_show}} </p>
  </div>
  {% endfor %}
</div>
</body>
{% endblock %}
